@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Arial, Helvetica, sans-serif;

  color: #111111;
  background-color: #ffffff;
  
  --text-color: #111111;
  --link-color: #08488d;
  --link-hover-color: #1b72c4;
  --bg-color-menu: #f5f6f7;
  --bg-color-menu-hover: #f9f9f9;
  --bg-color-selected: #d6ecfe;
  --bg-hover-color: #e5e5e5;
  --bg-active-color: #d2d2d2;
  
  --bd-color: #dadbdc;

  font-size: 13px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #cecece;
    background-color: #0a0a0a;

    --text-color: #efefef;
    --link-color: #9eb7d2;
    --link-hover-color: #91c9fd;
    --bg-color-menu: #323232;
    --bg-color-menu-hover: #5c5c5c;
    --bg-color-selected: #252c50;
    --bg-hover-color: #303030;
    --bg-active-color: #636363;

    --bd-color: #444444;
  }
}


html {
  margin: 0;
  padding: 0;
  height: 100vh;
  max-height: 100vh;
  overflow-y: hidden;
  position: fixed;
  overscroll-behavior: none;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  position: fixed;
  overscroll-behavior: none;
}

a {
  color: var(--link-color);
}
a:hover {
  color: var(--link-hover-color);
}

#app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  overscroll-behavior: none;
}

#navi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 2.5rem;
  position: absolute;
  top: 0;

  z-index: 10;
}
.navi-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.navi-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.5rem 0 0;
}
.navi-item {
  margin-right: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-bottom: 0;
  text-align: center;
  cursor: pointer;
}
.navi-item:hover {
  background-color: var(--bg-color-menu-hover);
}
.navi-item.active-page {
  font-weight: bold;
  border: 1px solid var(--bd-color);
  border-bottom: 0;
  background-color: var(--bg-color-menu);

  /* offset for merging to the menu */
  position: relative;
  bottom: -1px;
}

/* global styles */
.w-101 {
  width: calc(100% + 1rem);
}
.menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--bg-color-menu);
  border-top: 1px solid var(--bd-color);
  border-bottom: 1px solid var(--bd-color);
  width: 100%;
  height: 7rem;

  position: absolute;
  top: calc(2.5rem - 1px);
}

.menu-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-small-button {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  background-color: transparent !important;
  color: var(--text-color) !important;
  border: none !important;
}
.menu-small-button:hover {
  background-color: var(--bg-hover-color) !important;
}
.menu-small-button.active {
  background-color: var(--bg-active-color) !important;
}

/* Triangle indicator for submenu buttons */
.menu-button-submenu {
  position: relative;
}
.menu-button-submenu span{
  margin-top: -2px;
  margin-bottom: 2px;
}
.menu-button-submenu::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--text-color);
  opacity: 0.6;
}

.menu-icon {
  font-size: 1.8rem;
}

.menu-group {
  height: calc(100% - 2px); /* 2px border for top and bottom */
  margin: 0 0.5rem 0 0;
  padding: 0 0.5rem 0 0;
  border-right: 1px solid var(--bd-color);
}
.menu-group:last-child {
  border-right: none;
}

.menu-group-box {
  height: 5rem;
  padding: 0.5rem 0;
  display: flex;
  border-bottom: 1px solid var(--bd-color);
}

.menu-group-title {
  font-size: 0.9rem;
  height: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.main {
  display: flex;
  width: 100%;
  /* 2.5 navi + 7 menu + 2 footer */
  height: calc(100dvh - 11.5rem);
  padding: 0.5rem;

  position: absolute;
  top: 9.5rem;
}

.prevent-select {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
